*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFF8F0;
    line-height: 1.6;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8D5BA;
    padding: 10px 40px;
    border-radius:0 0 20px 20px ;
}
header h1 {
     color: #E75480;
   
}
header h1 span {
    color: #2E7D32;
   
}
i{
    color: #E75480;
}
nav a {
  text-decoration: none;
   color: #2E7D32;
    margin-left: 20px;
    font-weight: bold;
}
nav a:hover {
    color: #E75480;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
}
.home h2 {
    color: #E75480;
    font-size: 32px;
    margin-bottom: 15px;
}
.home p {
    color: #555;
}
.home img {
    width: 350px;
    border-radius: 10px;
}
.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
}
.shop h2 {
    color: #E75480;
    font-size: 32px;
    margin-bottom: 40px;
}
.shop section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.flower-item {
    
    
    background-color: white;
    width: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.flower-item:hover {
    transform: translateY(-10px);
    background-color: #F8C8DC;
}
.flower-item img {
    width: 100%;
    height: 250px;
}
.flower-item h3 {
    text-align: left;
    padding-left: 15px;
    margin: 10px 0;
    color: #E75480;
}

.flower-item p {
    text-align: left;
    padding-left: 15px;
    color: #2E7D32;
    font-weight: bold;
}
button {
    margin: 15px 0 25px;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: #2E7D32;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #E75480;
}
.contact-section {
    padding: 60px 40px;
    text-align: center;
}
.contact-section h2 {
    color: #E75480;
    margin-bottom: 30px;
}
form {
    max-width: 500px;
    margin: auto;
}
form div {
    margin-bottom: 20px;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #2E7D32;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A8D5BA;
}
footer {
    background-color: #A8D5BA;
    text-align: center;
    padding: 20px;
    color: #2E7D32;
    margin-top: 40px;
}
@media (max-width: 768px) {
     header {
        flex-direction: column;
        padding: 15px 20px;
    }
    .home {
        flex-direction: column;
        padding: 40px 20px;
    }
    .home img {
        width: 100%;
        margin-top: 20px;
    }
    .shop {
        flex-direction: column;
        align-items: center;
    }
     .contact-section {
         padding: 40px 20px;
     }
    
}

